<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{objects.site.description}}">
    <meta name="author" content="{{objects.site.author}}">
    <title>{{ title }} | {{ objects.site.name }}</title>
    <link rel="stylesheet" href="styles/global.css">
  </head>
  <body>
    {{ page_content }}
    <script src="/scripts/main.js" type="module"></script>
  </body>
</html>
